.DS_Store
__pycache__/
*.py[cod]
.ipynb_checkpoints/

.venv/
venv/

data/input/*
!data/input/README.md
!data/input/.gitkeep
data/mapping/*
!data/mapping/README.md
!data/mapping/.gitkeep

results/*

*.mat
*.xlsx
*.xls
*.csv
*.zip
*.7z
*.rar
~$*
